left-50 {
    position: absolute;
    left: 80px !important;
}

@media only screen and (max-width:640px) {
    .slider-p-custom {
        font-size: 10px;
    }

    .slider-p-custom-header {
        font-size: 12px;
    }

    .slider-bottom-img{
        height: 20px;
        width: 20px;
    }

    .slider-position-top{
        position: absolute;
        top: 20%;
        z-index: 1;
    }

    .card-gap-y{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}



@media  only screen and (max-width: 768px) and (min-width: 640px) {
    .slider-position-top-sm{
        position: absolute;
        top: 150px;
        z-index: 1;
    }
}
@media  only screen and (max-width: 1024px) and (min-width: 768px) {
    .slider-position-top-md{
        position: absolute;
        top: 150px;
        z-index: 1;
    }
}
@media  only screen and (max-width: 1280px) and (min-width: 1024px) {

    .slider-position-top-lg{
        position: absolute;
        top: 50%;
        z-index: 1;
    }
    
}